* {
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}



nav {
    text-align: center;
    background-color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 10px;
    
}
.link{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5px #999;
}
.link-container {
    display: inline-flex;
    
}
.link:active.html:active{
    background-color: brown;
    transform: translateY(4px);
    box-shadow: 0 2px #666;
}

hr {
    border: 10px solid #952;
    border-radius: 5px;
}

header {
    text-align: center;
    border-style: solid;
    border-width: 25px 10px;
    border-radius: 10px;
    border-color: #333;

    font-family: cursive;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.html {
    background-color: #666;
    color: white;
    text-decoration: none;
    font-family: cursive;
    box-shadow: 0 5px #999;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 10%;
    width: 15%;
}

#pp {
    text-align: center;
}

#wild {
    text-align: right;
    box-shadow: 0 2px #666;
}
#wild #span1{
    text-align: left;
    background-color: red;
    color: aqua;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#wild #span2 {
    text-align: center;
    background-color: chocolate;
    color: darkgreen;
    font-size: xx-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wild #span3 {
    text-align: right;
    background-color: black;
    color:antiquewhite;
    font-size: x-large;
    font-family: cursive;
}

footer {
    text-align: center;
}
footer p {
    color: red;
    opacity: 70%;
}
footer h6 {
    opacity: 50%;
}
